[submodule "lib/euler-price-oracle"]
	path = lib/euler-price-oracle
	url = https://github.com/euler-xyz/euler-price-oracle
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/Algebra"]
	path = lib/Algebra
	url = https://github.com/cryptoalgebra/Algebra
